.mainBackground {
background-image: url("images/background.jpg");
}
#logonError{
	color: red;
	font-size: 25;
	font-weight: 800;
}
#menu{
	color: white;
	font-size: 25;
}
.textTitle{
	font-weight: bold;
	text-decoration: underline;
}
.text{
	font-weight: bold;
}
.link{
	text-decoration: none;
    font-size:25;	
}
.link:hover{
	text-decoration: underline;
	color: white;
}
.version{	
	color: white;
    float: right;	
}
.background{
	background-image: url("images/backgroundAll.jpg");
}
.errorMessage {
	font-style: italic;
	color: red;
}
.warningMessage {
	font-style: normal;
	color: green;
}
.oddRow {
	height: 30px;
	text-align: center;
	background: khaki;	
}
.evenRow {
	height: 30px;
	text-align: center;
	background: darkkhaki;	
}
.table{
	position:absolute;
    top: 5%; 
    left: 5%;
    right: auto;
}